.products-container {
  max-width: 1300px;
  margin: auto;
  padding: 30px 20px;
}

.products-topbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  gap: 15px;
}

.search-input,
.category-select {
  padding: 12px 15px;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 16px;
  transition: 0.1s;
}

.search-input:focus,
.category-select:focus {
  border-color: #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 25px;
}

.product-card {
  background: #fff;
  padding: 18px;
  border-radius: 16px;
  transition: 0.3s;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
}

.product-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 26px rgba(0, 0, 0, 0.12);
}

.product-img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 15px;
}

.product-info h3 {
  font-size: 18px;
  margin-bottom: 6px;
}

.price {
  color: #111;
  font-weight: 600;
  margin-bottom: 15px;
}

.product-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  padding: 10px 14px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  transition: 0.05s;
}

.details-btn {
  background: #b70000;
  color: #fff;
}

.details-btn:hover {
  background: #333;
}

.add-btn {
  background: #f0f0f0;
}

.add-btn:hover {
  background: #dcdcdc;
}
