.support-container {
  padding: 50px;
  max-width: 1200px;
  margin: auto;
}

.support-header {
  text-align: center;
  margin-bottom: 40px;
}

.support-header h1 {
  font-size: 40px;
  color: #e50914;
}

.support-header p {
  font-size: 18px;
  color: #555;
}

.support-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
  align-items: start;
}

.contact-info {
  background: #fff;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 5px 18px rgba(0,0,0,0.13);
}

.contact-info h2 {
  color: #e50914;
}

.contact-info p {
  margin: 10px 0;
  font-size: 16px;
}

.contact-info img {
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
}

.support-form {
  background: #fff;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 5px 18px rgba(0,0,0,0.13);
}

.support-form h2 {
  color: #e50914;
}

.support-form input,
.support-form textarea {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border-radius: 8px;
  border: 1px solid #bbb;
  font-size: 16px;
}

.support-form button {
  margin-top: 20px;
  width: 100%;
  background: #e50914;
  color: #fff;
  border: none;
  padding: 14px;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.support-form button:hover {
  background: #c40812;
}

 img {
  width: 100%;
  height: 210px;
  object-fit: cover;
  border-radius: 10px;
}