.main-header {
  background: #ffffff;
  border-bottom: 2px solid #e60023;
  padding: 12px 0;
  width: 100%;
}

.header-container {
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  font-size: 28px;
  font-weight: 800;
  color: #e60023;
  text-decoration: none;
  letter-spacing: 1px;
}

.nav-links a {
  margin: 0 15px;
  font-size: 16px;
  color: #333;
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s;
}

.nav-links a:hover {
  color: #e60023;
  transform: translateY(-2px);
}

.auth-buttons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.btn-login,
.btn-register {
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.2s;
}

/* LOGIN — white */
.btn-login {
  border: 2px solid #e60023;
  color: #e60023;
}

.btn-login:hover {
  background: #ffecef;
}

/* REGISTER — red */
.btn-register {
  background: #e60023;
  color: #fff;
}

.btn-register:hover {
  background: #bf001d;
}


.header-cart-btn {
  position: relative;
  text-decoration: none;
  color: black;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.cart-count {
  background: red;
  color: white;
  font-size: 12px;
  padding: 2px 7px;
  border-radius: 50%;
  position: absolute;
  top: -6px;
  right: -12px;
}
